.books {
  height: 100vh;
  background: #ffffff;
  align-items: center;

  text-align: center;

  margin-top: -150px;
  padding: 0px;

  display: grid;
  grid-template-columns: 1fr;

  img {
    width: 100%;
    height: 100%;
    display: block;
  }
  ul {
    margin-top: -290px;
    display: inline-block;
    padding: auto;
    align-items: center;
    margin-right: 20px;
    text-align: center;
    border: 5px solid;
    border-color: rgb(77, 50, 0);
    border-radius: 8px;
    width: 100%;
    height: 360px;
  }
  li {
    list-style: none;
    display: inline-block;
    align-items: center;
    padding: 10px;
    justify-content: center;
    width: 200px;
    height: 100px;
  }
  button {
    width: 30%;
    margin-left: 10px;
    text-align: center;
  }
}
